<div class="snippet">
  <h1>Paste a new code snippet below:</h1>
  <form action="/" method="POST">
    <p><label for="name">Title: </label><input type="text" name="snippet_title" value="<%= @snippet[:title] %>"/></p>
    <textarea name="snippet_body" id="snippet_body" rows="20"><%= @snippet[:body] %></textarea>
    <br/>
    <label for="lang">Language: </label>
    <select name="snippet_lang">
        <option value='text'>---</option>
      <% languages.each do | lang | %>
        <option value="<%= lang %>"><%= lang %></option>
      <% end %>
    </select>
    <input type="submit" value="Save"/>
  </form>
</div>
